<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="cn.org.Model.bl_user" alias="user" />
		<typeAlias type="cn.org.Model.bl_board" alias="board" />
		<typeAlias type="cn.org.Model.bl_scrap" alias="scrap" />
	</typeAliases>

</configuration>